@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<form asp-action="SayHello">
		<div class="form-group">
			<label for="Name" class="control-label"></label>
			<input name="Name" class="form-control"/>
		</div>
		<br />
		<div class="form-group">
			<input type="submit" value="Say Hello" class="btn btn-primary" />
		</div>

	</form>



</div>
